<div class="container">

  <% if @host %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1553369728-15ec6971afaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
      <p>Coworking from the world's most stylish hotels</p>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517252441880-7c0968fc8513?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
      <p>Coworking from the world's most stylish hotels</p>
    </div>
  <% end %>

  <div class="card-container mt-5">
    <div class="w-50 pb-4">
      <p><strong>Be Our Guest</strong> offers a unique selection of shared spaces in hotels with great views and idyllic setting. Ditch your conventional office workspace and come find inspiration and increase productivity in one of our spaces.</p>
    </div>

    <% if @host %>
    <h3>My places</h3>
    <% else %>
    <h3>Places to work around Singapore</h3>
    <% end %>

    <% if @host %>
      <%= render 'card', spaces: @spaces, host: @host %>
    <% else %>
      <%= render 'card', spaces: @spaces, host: nil %>
    <% end %>
  </div>
</div>
