<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517252441880-7c0968fc8513?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
    <p>Coworking from the world's most stylish hotels</p>
  </div>

  <div class="card-container mt-5">
    <div class="w-50 pb-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iste magni accusantium dolorum qui eos quos dicta dolorem ea in consequatur saepe distinctio cumque, esse?</p>
    </div>

    <h3>Places to work around Singapore</h3>

    <div class="cards">
      <% @spaces.each_with_index do |space, index| %>
        <div class="card-space">
          <img src='https://source.unsplash.com/1600x900/?hotel-lounge <%= index %>' class="card-img-top" alt="hotel-lounge">
          <div class="card-body">
            <h5 class="card-title"><%= space.name %></h5>
            <p class="card-text"><%= space.address %></p>
            <p class="card-text font-weight-bold">$<%= space.price_per_hour %>/hour</p>
            <a href="#" class="btn btn-ghost mt-3">Book this space</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
