.btn-delete {
  font-size: 32px;
  color: #FFFFFF;
  top: 12px;
  right: 12px;
  position: absolute;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost-white {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 8px 24px;
  border-radius: 50px;
  // font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-white:hover {
  opacity: 0.8;
  color: #FFFFFF;
}

.booking-search-button {
  color: #868686;
  border-radius: 3px;
  padding-top: 2px;
}

.booking-search-button:hover {
  color: #303841;
}

#map_button {
  opacity: 0.8;
  color: #868686;
  font-size: 18px;
}

#map_button:hover {
  color: #303841;
  text-decoration: none;
}

.confirm-button {
  background-color: #4A4A4A;
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.confirm-button:hover {
  opacity: 0.8;
  color: white;

}

