.my-smaller-carousel {
  min-width: 50%;
  max-width: 100%;
  margin: 0 auto;
}

.stretch {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.table th, .table td {
  border: none;
}

.table thead th {
  border: none;
}


