body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.container {
  color: #303841;
}

.brand-description {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.cards-container {
  padding-top: 20px;
}

.card-show-container-1 {
  width: 75%;
}

.card-show-container-2 {
  width: 25%;
}
