.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  visibility: visible;
  height: 400px;
  width: 100%;
  transition: height .5s;

  &.display {
    visibility: hidden;
    height: 0px;
  }
}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: #303841;
  font-size: 18px;
}

.mapboxgl-popup-content a:hover {
  color: #777777;
}
